<div class="container p-0">
  <section class="carousel-section mb-5 pb-4">
    <div class="position-relative d-flex justify-content-start align-items-center">
      <img src="assets/carousel-1.jpg" class="d-block w-100" alt="">
      <div
        class="d-flex flex-column gap-0 gap-sm-2 gap-md-5 position-absolute top-25 ms-3 ms-sm-5 ps-md-5 text-center text-md-start">
        <h5 class="display-5 fw-bold mb-1 mb-sm-3 m-auto ms-md-3 lh-1">
          Скидки на травяные чаи</h5>
        <p class="h5 fw-normal ms-sm-3 mb-1 mb-sm-3 lh-1">
          Узнай все подробности, заполнив заявку</p>
        <a routerLink="/order" class="btn btn-primary m-auto ps-3 ps-md-5 pe-3 pe-md-5 ms-md-3">Заполнить</a>
      </div>
    </div>
  </section>

  <section class="questions container pt-4 mb-4">
    <h2 class="mb-5 pb-1 text-center fw-bold">Ответы на часто задаваемые вопросы</h2>
    <ngb-accordion [closeOthers]="true">
      <ngb-panel>
        <ng-template id="static-1" ngbPanelTitle>
          Собираете ли вы подарочные боксы?
        </ng-template>
        <ng-template ngbPanelContent>
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
          стоимость!
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template id="static-2" ngbPanelTitle>
          Сколько у вас разновидностей чая?
        </ng-template>
        <ng-template ngbPanelContent>
          На данный момент у нас более 60 сортов чая и мы постоянно расширяем ассортимент!
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template id="static-3" ngbPanelTitle>
          В какой срок осуществляется доставка?
        </ng-template>
        <ng-template ngbPanelContent>
          По городу доставка осуществляется за 3 часа. Доставка в другие города рассчитывается в
          зависимости от выбранной компании доставки.
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template id="static-4" ngbPanelTitle>
          У вас обновляется ассортимент?
        </ng-template>
        <ng-template ngbPanelContent>
          Мы стараемся расширять ассортимент, а также обновлять вкусы сборных чаев не реже раза в
          месяц!
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template id="static-5" ngbPanelTitle>
          Какого объема у вас пачки чая?
        </ng-template>
        <ng-template ngbPanelContent>
          У нас есть несколько вариантов объема на выбор: 50, 100, 200 и 500гр
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
</div>

<button id="popupButton" type="button" class="d-none btn btn-primary" (click)="openPopup(content)"></button>

<ng-template #content let-popup id="popupModal">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="popupModalTitle">Посмотрите наши чайные коллекции!</h1>
        <button type="button" class="btn-close" aria-label="Close"
                (click)="popup.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <img class="w-100 h-100" src="assets/easy/carousel-1.jpg" alt="tea-collection">
      </div>
      <div class="modal-footer mx-auto">
        <button type="button" routerLink="/catalog"
                class="btn btn-primary m-auto ps-3 ps-md-5 pe-3 pe-md-5 ms-md-3" (click)="popup.close('Save click')">Смотреть
        </button>
      </div>
</ng-template>
