<div class="container p-0">
  <section class="cards-section container">
    <h2 class="mb-5 text-center fw-bold">Наши чайные коллекции</h2>
    <div class="row g-4 mb-4">
      <div class="col-md-4">
        <div class="card">
          <a class="my-image-links" data-gall="gallery01" href="assets/cards/card-1.jpg">
            <img src="assets/cards/card-1.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title mt-1 mb-3 fw-bold">Детокс чай лайм</h5>
            <p class="card-text">Великолепный чай внесет в вашу жизнь яркие краски и вкус
              расслабления</p>
            <a href="#" class="btn hvr-grow-shadow btn-primary ps-5 pe-5">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="my-image-links" data-gall="gallery01" href="assets/cards/card-2.jpg">
            <img src="assets/cards/card-2.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title mt-1 mb-3 fw-bold">Ягодный чай</h5>
            <p class="card-text">Нотки ягод позволят вам расслабиться и насладиться великолепием этого
              чая</p>
            <a href="#" class="btn hvr-grow-shadow btn-primary ps-5 pe-5">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="my-image-links" data-gall="gallery01" href="assets/cards/card-3.jpg">
            <img src="assets/cards/card-3.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title mt-1 mb-3 fw-bold">Цветочный чай</h5>
            <p class="card-text">Душистые цветы создают невероятный аромат и наполняют вас энергией</p>
            <a href="#" class="btn hvr-grow-shadow btn-primary ps-5 pe-5">Подробнее</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4 mb-5 pt-2">
      <div class="col-md-4">
        <div class="card">
          <a class="my-image-links" data-gall="gallery01" href="assets/cards/card-4.jpg">
            <img src="assets/cards/card-4.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title mb-3 fw-bold">Очищающий чай</h5>
            <p class="card-text pb-xl-0 pb-4">Бесподобный чай для получения утреннего заряда бодрости</p>
            <a href="#" class="btn hvr-grow-shadow btn-primary ps-5 pe-5">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="my-image-links" data-gall="gallery01" href="assets/cards/card-5.jpg">
            <img src="assets/cards/card-5.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title mb-3 fw-bold">Кислый чай</h5>
            <p class="card-text">Кислый чай для настоящих ценителей кислинки во время чаепития</p>
            <a href="#" class="btn hvr-grow-shadow btn-primary ps-5 pe-5">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="my-image-links" data-gall="gallery01" href="assets/cards/card-6.jpg">
            <img src="assets/cards/card-6.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title mb-3 fw-bold">Лимонная мята</h5>
            <p class="card-text pb-xl-0 pb-4">Смесь лимона с мятой сделает ваш день самым лучшим</p>
            <a href="#" class="btn hvr-grow-shadow btn-primary ps-5 pe-5">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
