<div class="container p-0">
  <section class="form-section pt-3 my-5">
    <h2 class="mb-5 pb-2 text-center">Сделать заказ</h2>
    <form class="w-50 m-auto animate__animated animate__jackInTheBox wow jackInTheBox">
      <div class="row g-4 mb-3">
        <div class="col-md-4">
          <label for="inputName" class="form-label">Имя</label>
          <input type="text" class="form-control" id="inputName">
        </div>
        <div class="col-md-4">
          <label for="inputLastName" class="form-label">Фамилия</label>
          <input type="text" class="form-control" id="inputLastName">
        </div>
        <div class="col-md-4">
          <label for="inputPhone" class="form-label">Телефон</label>
          <input type="tel" class="form-control" id="inputPhone">
        </div>
      </div>

      <div class="row g-4 mb-3">
        <div class="col-md-6">
          <label for="inputCountry" class="form-label">Страна</label>
          <input type="text" class="form-control" id="inputCountry">
        </div>
        <div class="col-md-6">
          <label for="inputIndex" class="form-label">Индекс</label>
          <input type="text" class="form-control" id="inputIndex">
        </div>
      </div>

      <div class="row g-4 mb-4">
        <div class="col-md-12">
          <label for="inputAddress" class="form-label">Адрес</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>
      </div>
      <div class="row g-4 mb-4">
        <div class="col-md-3 pe-0">
          <button type="button" id="submitBtn" class="btn hvr-grow-shadow btn-primary w-100">Отправить
          </button>
        </div>
      </div>
    </form>
  </section>
  <div class="order-approved m-auto d-none mt-5 pt-5">
    <h2 class=" mb-5 pb-5 text-center">Спасибо за заказ. Мы свяжемся с вами в ближайшее время!</h2>
  </div>
</div>
